/* General styles for the gallery */
.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  
}

.title-text {
    margin-top: 80px; /* Adjust this value as needed */
}

  
/* Grid layout */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Increased the minmax value */
    grid-gap: 40px;
    padding: 0;
  
}
  
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}
  
.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.9);
    
    border: 2px solid black;
}
  
/* Image styling */
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
  
/* Responsive behavior */
@media (max-width: 768px) {
    .gallery-title {
        font-size: 2rem;
    }
  
    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Increased size for medium screens */
    }
}
  
@media (max-width: 480px) {
    .gallery-title {
        font-size: 1.5rem;
    }
  
    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Increased size for small screens */
    }
}
